@{
  Layout = "_Layout";
}

<h1>Here are the banks recoreds:</h1>
<p>@Html.ActionLink("See all bank accounts", "Index", "BankAccounts")</p> <p>@Html.ActionLink("See all members", "Index", "Members")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>