@{
  Layout = "_Layout";
}

@using FirstBank.Models;
@model IEnumerable<FirstBank.Models.BankAccount>

<h1>BankAccounts for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (BankAccount bankaccount in Model)
    {
      <li>@Html.ActionLink($"{bankaccount.Description}", "Details", new { id = bankaccount.BankAccountId })</li>
    }
  </ul>
} 
else
{
  <h3>No bankaccounts have been added yet!</h3>
}

<p>@Html.ActionLink("Add new bankaccount", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>